.sheets {
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 0px;
    position: relative;
}

.title {
    font-size: xx-large;
    font-weight: 900;
}

.subtitle {
    font-size: x-large;
    margin-bottom: 12px;
    font-weight: bold;
}

.sectiontitle {
    font-stretch: expanded;
    color: gray;
    font-weight:150;
}

.li {
    margin: 2px;
}

@media (min-width: 768px) {
    .sheets:before, .sheets:after {
        content: "";
        height: 98%;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    
    .sheets:before {
        background: #fafafa;
        box-shadow: 0 0 8px rgba(0,0,0,0.2);
        left: -5px;
        top: 4px;
        transform: rotate(-2.5deg);
    }
    
    .sheets:after {
        background: #f6f6f6;
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
        right: -3px;
        top: 1px;
        transform: rotate(1.4deg);
    }
}
