.cv-container {
    background-color: white;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.cv-style {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .sheets-container {
        margin-top: 90px;
        margin-bottom: 30px;
    }
    
    .sheets {
        padding: 0px;
        width: 90%;
        margin: 26px;
    }
}

@media (min-width: 600px) {
    .sheets-container {
        margin-top: 8%;
        margin-bottom: 150px;
    }

    .sheets {
        max-width: 1050px;
        min-height: 300px;
        padding: 0px;
        margin: 26px auto 0;
        padding-bottom: 100px;
        width: 80%;
        margin-bottom: 200px;
    }
}

.sheets {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 0px;
    position: relative;
}

.sheets:before, .sheets:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.sheets:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}

.sheets:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
}
