.container-intro{
    background-color: yellow;
}


@media screen and (min-width: 600px){
    
    .row-intro {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .column-left-intro {
        padding-left: 10%;
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .column-right-intro {
        align-items: left;
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .avatar {
        width: 220px;
        height: 220px;
        padding-top: 0px;
        padding-left: 40px;
    }

    .text-intro {
        text-align: left;
        max-width: 500px;
    }

    .cv-left-column {
        padding-right: 150px;
    }

    .big-name {
        margin-top: 80px;
        margin-left:20px;
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    
    .row-intro {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 2%;
    }

    .column-left-intro {
        width: 90%;
        align-self: center;
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .column-right-intro {
        width: 90%;
        align-self: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30px;
    }

    .avatar {
        width: 220px;
        height: 220px;
    }

    .text-intro {
        text-align: left;
    }

    .big-name {
        margin-top: 20px;
        margin-left: 20px;
        text-align: left;
    }
}

.row-colored {
    margin-top: 110px;
    background-color: blue;
    min-height: 200px;
    text-align: center;
    padding-top: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    margin: 15px;
    padding: 10px;
    width: 250px;
    background-color: blue;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid white;
}

.btn:hover {
    background-color: rgb(0, 0, 131);
}

.little-cv {
    max-width: 150px;
    padding: 20px;
    transform: rotate(7deg);
}

