@media screen and (min-width: 600px){
    .cv-left-column {
        padding-right: 150px;
    }
}

.row-colored {
    margin-top: 110px;
    background-color: blue;
    min-height: 200px;
    text-align: center;
    padding-top: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    margin: 15px;
    padding: 10px;
    width: 250px;
    background-color: blue;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid white;
}

.btn:hover {
    background-color: rgb(0, 0, 131);
}
