.container {
    font-family: sans-serif;
}


.line-top {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: blue;
    height: 10px;
}

.footer-container {
    background-color: white;
    position: absolute;
    bottom: 2;
    left: 0;
    width: 100%;
}

.footer-text{
    padding: 10px;
    color: black;
    text-align: center;
}



