.container-intro{
    background-color: yellow;
}



@media screen and (min-width: 600px){
    
    .row-intro {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .column-left-intro {
        padding-left: 10%;
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .column-right-intro {
        align-items: left;
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .avatar {
        width: 220px;
        height: 220px;
        padding-top: 0px;
        padding-left: 40px;
    }

    .text-intro {
        text-align: left;
        max-width: 500px;
    }
}

@media screen and (max-width: 600px){
    
    .row-intro {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 98%;
        padding-top: 2%;
        padding-left: 1%;
        padding-right: 1%;
    }

    .column-left-intro {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .column-right-intro {
        min-width: 400px;
        align-items: center;
        padding-top: 30px;
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .avatar {
        width: 220px;
        height: 220px;
        padding: 20px;
    }

    .text-intro {
        text-align: left;
    }
}

.row-colored {
    margin-top: 20px;
    background-color: blue;
    min-height: 300px;
    width: 102vw;
    margin-left: -2vw;
}

.title {
    text-align: center;
    margin: 100px, 0px;
}